@model dog2go.Models.TableViewModel

@using (Html.BeginForm("ChooseGameTable", $"Game", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="gameTableItem form-horizontal">
        @Html.HiddenFor(x => x.Identifier)
        @Html.HiddenFor(x => x.Name)
        <p class="gameTableName">@(Model.Name) - @(Model.Identifier)</p>
        @if (Model.Participants != null)
        {
            <p>Participants: @(string.Join(" | ", Model.Participants))</p>
        }
    </div>
    <input type="submit" value="Join" class="joinTablebtn btn btn-default" />
}