<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - dog2go</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/require")

</head>
<body>

    <ul class="navigation">
        <li class="nav-item">@Html.ActionLink("Play now", "Play", "Game")</li>
        <li class="nav-item">@Html.ActionLink("About dog2go", "About", "Home")</li>
        <li class="nav-item"><a href="https://www.hsr.ch" target="_blank">HSR</a></li>
        <li class="nav-item">@Html.ActionLink("Logout", "SignOut", "Account")</li>
    </ul>

    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>

    <div class="site-wrap">
        @RenderBody()
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - dog2go team</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
